{{> menu2}}

 <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
           {{> stats}}
        </div>
      </div>
    </section>

<div class="text-center"></div>
{{> offers}}

</div>
