<div class="hero is-fullheight is-warning">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-8 is-offset-2">

                <a href="/"><img src="images/VULCANADS.png"></a>
                
                <div  class="box">
                    <div id='header-content'></div>
                    <form>
                        <div class="field">
                            <div class="control"> <input class="input is-large" id='loginName' type="email"
                                    placeholder="Email" autofocus=""> </div>
                        </div>
                        <div class="field">
                            <div class="control"> <input class="input is-large" id='loginPass' type="password"
                                    placeholder="Password">
                            </div>
                        </div>
                    </form>
                    <button class="button is-block is-info is-large is-fullwidth" name="submit"
                        id="submit">Login</button>
                    <div style="margin: 20px;"> Don't have an account? <a href='/register'>Register Now</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>