<nav class="navbar is-fixed-top is-warning" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="position: absolute; left: 50%; margin-left: -100px; margin-top: 0; padding: 0; height: 100%; display: flex; align-items: center;">
    <a class="navbar-item" href="/">
      <img src="images/VULCANADS.png" width="152" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
      
    </div>
  </div>
</nav>