<h1>Registration</h1>
Email: <input type="text" name="rege"></br>
Username: <input type="text" name="regu"></br>
Password: <input type="text" name="regp"></br></br>
<button id="submit">Register</button>