<div class="hero is-fullheight is-warning">
    <div class="hero-body">
        
        <div class="container has-text-centered">
            
            <div class="column is-8 is-offset-2">

                <a href="/"><img src="images/VULCANADS.png"></a>
                <div id='header-content'></div>
                <div class="box">
                    {{> multiformreg}}
                </div>
            </div>
        </div>
    </div>
</div>


