<div class="column is-8 is-offset-2">
    <div class="box">
        <div id='header-content'></div>
        <div class="notification is-link is-light">
            <button class="delete"></button>
            Enter a valid email and make sure the password is atleast 8 characters.
        </div>
        <form>
            <div class="field">
                <div class="control"> <input class="input is-large" id='email' type="email" placeholder="Email"
                        autofocus=""> </div>
            </div>
            <div class="field">
                <div class="control"> <input class="input is-large" id='password' type="password"
                        placeholder="Password">
                </div>
            </div>
        </form>
        <button class="button is-block is-info is-large is-fullwidth" name="submit" id="submit">Register</button>
        <div style="margin: 20px;"> Have an account? <a href='/login'>Login Now</a> </div>
    </div>
</div>