<p class="title is-5">Welcome, {{User.fname}}.</p>
<div class="notification is-warning is-light">
    <button class="delete"></button>
    If you are new to VulcanAds <a href='/tutorial'>click here</a> to see the help section.
</div>
<div class="columns is-multiline" style="padding-top: 35px">
    <div class="column is-4-desktop">

        <div class="box">
            <div class="columns has-text-centered">
                <div class="column is-8">
                    <div class="content">
                        <h1 class='title is-5'>{{dollarToVc User.balance}} Vc</h1>
                        <h1 class='subtitle is-7'>Balance</h1>
                    </div>
                </div>
                <div class="column">

                    <i class="fas fa-2x fa-money-bill-alt"></i>

                </div>
            </div>




        </div>

    </div>

    <div class="column is-4-desktop">

        <div class="box">
            <div class="columns has-text-centered">
                <div class="column is-8">
                    <div class="content">
                        <h1 class='title is-5'>{{offers.offers.length}}</h1>
                        <h1 class='subtitle is-7'>Available Tasks Today</h1>
                    </div>
                </div>
                <div class="column">
     

                        <i class="fas fa-2x fa-poll"></i>

                </div>
            </div>




        </div>

    </div>
    <div class="column is-4-desktop">

        <div class="box">
            <div class="columns has-text-centered">
                <div class="column is-8">
                    <div class="content">
                        <h1 class='title is-5'>{{RTET}} Vc</h1>
                        <h1 class='subtitle is-7'>Available Vc Today</h1>
                    </div>
                </div>
                <div class="column">

                    <i class="fas fa-2x fa-calendar-alt"></i>

                </div>
            </div>




        </div>

    </div>

</div>