{{> menu2}}

<div class="container">
<div class="box">
<h1 class='title is-3'>FAQ</h1>
<div>

              <h1 class='title is-5'>Why didn't I receive Vc for an offer?</h1>

              <p class="is-size-7">There are a few circumstances that will cause you to not receive Vc for an offer.  Here are some examples:</br></br> 
       
- You have not waited enough time (sometime up to 32 days) for credit to appear</br>
- The offer has been completed previously by someone who is in the same household.</br>
- You have an Ad Blocker on your computer.</br>
- You completed this activity through another rewards program</br>
- You did not click through VulcanCash.com to complete that activity.</br>
- You are already an existing customer of the merchant for the activity you are trying to complete</br>
</p>
            
            </div>
          <div>
                         <h1 class='title is-5'>What is your return policy on gift cards?</h1>
              <p class="is-size-7">Once a gift card is purchased from our store you become the owner of the gift card code. At that point, we are unable to refund the Vc back to you.</br></br>
Please be sure to read all the terms on the gift card before you purchase. </p>
            
            </div>
          <div>
                         <h1 class='title is-5'>There are multiple people in our home. Can we each have our own account?</h1>
               <p class="is-size-7">Each individual in your household may have their own account. It is against our terms of service to have more than one account per member. </p>
            
            </div>
          <div>
                         <h1 class='title is-5'>How long does it take to redeem gift cards?</h1>
               <p class="is-size-7">Gift cards are sent out every 24 hours. However if there are some complications it can take up to 10 days</p>
            

</div>
</div>
    <script src="/js/main.js"></script>