{{> menu2}}
{{#if countdown}}
{{> notificationCountdown}}
{{/if}}
<section class="hero is-info is-large">
    <div class="hero-body" id='lpHeader'>
        <div class="container has-text-centered">
            <h1 class="title">
                Download Apps & Games. Get FREE Gift Cards.
            </h1>
            <h2 class="subtitle">
                A Lot Of FREE Gift Cards to choose from including Google Play, iTunes, Paypal and Amazon,. Just install the
                apps to make money.
            </h2>
            <button onclick="window.location.href='/register';" class="button is-warning is-large"
                href='/register'>Register Now</button>
        </div>
    </div>
</section>


<div class="container">
    <div class="columns">
        <div class="column is-2">

        </div>

        <div class="column is-8" style="margin-top: 15px;">
            <div class="has-text-centered block" style="margin: 35px;">
                <h1 class="title">Get Free Gift Cards & Cash for the everyday things you do online. Here's how…</h1>

                </br><img src="/images/circle12.png" alt=""></br></br>

                <img src="/images/arrow.png" alt="">

                <h4 class="subtitle is-4">Download apps, watch interesting videos and search the web to find great deals
                    and earn coins. </h4></br>
                <img src="/images/arrow.png" alt="">
                <h1 class="title">Get Free Gift Cards</h1>
                </br><img src="/images/giftcards.png" alt=""></br></br>

                <img src="/images/arrow.png" alt="">

                <h4 class="subtitle is-4">Redeem your points for gift cards to your favorite retailers like Amazon and
                    Walmart or get cash back from PayPal.
                </h4>

            </div>
        </div>

        <div class="column is-2">

        </div>

    </div>
</div>
<div class="hero is-info">
    <div class="hero-body" id='lpHeader'>
        <div class="has-text-centered">
            <h1 class="title">
                We give out 1,500+ free gift cards every day
            </h1>
            <button onclick="window.location.href='/register';" class="button is-warning is-large">Register Now</button>
        </div>
    </div>
</div>


<script src="/js/cd.js"></script>
<script src="/js/main.js"></script>