<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>$100 Giveaway</title>
</head>

<body>


    <section class="hero is-primary is-fullheight">
        <div class="hero-body">

            <div class="container has-text-centered">

                <h1 class="title">You will get the final step in your inbox!</h1>
                <div class="box">
                    <div id="header-content"></div>
                    <form action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post">
                        <div class="field">
                            <div class="control"> <input class="input is-large" name="email" type="email"
                                    placeholder="Email" autofocus=""> <input type="hidden" name="campaign_token"
                                    value="K9IU7" /></div>

                        </div>
                        <div class="field">
                            <input type="hidden" name="start_day" value="0" />
                        </div>
                    </form>
                  
                    <button class="button is-block is-link is-large is-fullwidth" name="submit"
                        id="submit">Submit</button>
         
                </div>
            </div>
        </div>
    </section>


</body>

</html>