<section class="hero is-primary is-fullheight">
    <div class="hero-body">

        <div class="container has-text-centered">

            <h1 class="title">Thank you</h1>
            <div class="box">
                <div class="content">
                <ol type="1">
                   <b> You will get a email to your inbox in 2-3 minutes <br>
                    Click get started and complete 2 App Installs <br>
                    Our company pays you to install apps <br>
                    You will then get a email regarding your reward <br></b>
                </ol>
            </div>

            </div>
        </div>
    </div>
</section>