<section class="hero is-primary is-fullheight">
    <div class="hero-body">

        <div class="container has-text-centered">

            <h1 class="title">Thank you</h1>
            <div class="box">
                <ul>
                    <li>You will get a email to your inbox in 2-3 minutes</li>
                    <li>Click get started and complete 2 App Installs</li>
                    <li>Our company pays you to install apps</li>
                    <li>You will then get a email regarding your reward</li>
                </ul>
            

            </div>
        </div>
    </div>
</section>