{{> menu2}}

<div class="container">
  <div class="box has-text-centered">


    <h1 class='title is-3'>How does it work?</h1>

    <p class="is-size-7">Once you reach your dashboard you will see how much Vc you have avaiable <b>(1)</b>, How many
      tasks you
      can complete today <b>(2)</b> and How much Vc can you earn today <b>(3)</b>.
 </br>
      <img src="/images/tut1.png" alt="" width="290" height="378"></br>
</br> Complete tasks and earn Vc which you can withdraw on your
    payments page.</br>
      </br>
      <img src="/images/tut2.jpg" alt="" width="290" height="378"></br>

    You can find all the tasks right on your dashboard. Each offer has two sections the first section is the basic
    instructions and the second one is how much the offer is worth. </br>Once you finish completing a offer you will be
    atomatically credited Vc if you did everything correctly in some rare instances it may take upto 10 days for the Vc
    to refect in your Balance.</p>


    </br>

    <h1 class='title is-5'>What is Vc?</h1>
    <p class="is-size-7">Vc is short for VulcanCash. 100 VC equals $1. </p></br>

<h1 class='title is-5'></h1>How do i get credited?</h1>
<p class="is-size-7">Once you finish completing a offer you will be atomatically be credited Vc if you did everything correctly in some rare instances it may take upto 10 days for the Vc to refect in your Balance.</p>
  </div>
  <script src="/js/main.js"></script>