/* Error: Undefined variable.
 *   ,
 * 1 | $steps-maker-default-color: $grey-light !default
 *   |                             ^^^^^^^^^^^
 *   '
 *   public/scss/steps.sass 1:29  @import
 *   public/scss/index.sass 1:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 1 \2502  $steps-maker-default-color: $grey-light !default\a   \2502                              ^^^^^^^^^^^\a   \2575 \a   public/scss/steps.sass 1:29  @import\a   public/scss/index.sass 1:9   root stylesheet";
}
